
<aside>
    <p>Welcome</p>
    <h2>Random User Name</h2>
    <p>Account Balance</p>
    <h2>$12344</h2>
</aside>

<nav>
    <button mat-flat-button color="accent" routerLink="/withdraw">Get Cash</button>
    <button mat-flat-button color="accent" routerLink="/restock">Deposit</button>
    <button mat-flat-button color="accent" routerLink="/admin">Transaction History</button>

    <button mat-flat-button color="accent" class="quick-cash" [routerLink]="['/withdraw', {amount: '70'}]">Quick Cash <mat-icon>keyboard_arrow_right</mat-icon></button>
</nav>
