@import "../../../../styles/variables.scss";

:host {

    display: flex;
    justify-content: space-between;
    min-height: 500px;
    margin-top: calc(#{$baseMargin} * 2);

    p {
        color: $accent;
        font-weight: 500;
        margin-bottom: 0;
    }

    h2 {
        color: white;

    }

    nav {
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
    }

    aside {
        width: 25%;
    }

    button {
        width: 45%;
        margin: 5px;
        height: 100px;
        font-size: 1.25rem;
        border-radius: 0;

        &.quick-cash {
            width: 100%;
            height: 65px;
            margin-top: 1rem;

            &::ng-deep {
                .mat-button-wrapper span {
                    margin-left: 50px;
                }
            }

        }
    }
}