@import '../../../styles/variables.scss';

:host {
    mat-toolbar {
        mat-toolbar-row {
            max-width: $maxWidth;
            min-width: $minWidth;
            margin: 0 auto;
            height: fit-content;

            &#nav, &#cashOnHand {
                display: flex;
                flex-wrap: wrap;
            }

            &#nav {
                button {
                    margin-right: $baseMargin;
                }
            }

            &#cashOnHand {
                h3 {
                    width: 100%;
                }
                span {
                    margin-right: calc(#{$baseMargin}/2);
                }
            }
        }
    }

    main {
        margin: $baseMargin auto;
        max-width: $maxWidth;
        min-width: $minWidth;
    }

    .todo {
        display: none;

        @media (max-width: 599px) {
            display: block;
        }
    }
}