@import '../../../styles/variables.scss';

:host {

    header, main {
        margin: $baseMargin auto;
        max-width: $maxWidth;
        min-width: $minWidth;
    }

    header {
        height: 30px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;

        h1 {
            font-weight: bold;
            color: white;
            margin-top: 6px;
        }

        button {
            font-size: 1.5rem;
            height: 48px;

            mat-icon {
                font-size: 48px;
                height: 48px;
                width: 48px;
            }
        }
    }

    main {
        min-height: 200px;
    }

}