@import '../../../styles/variables.scss';

:host {

    header, main {
        margin: $baseMargin auto;
        max-width: $maxWidth;
        min-width: $minWidth;
    }

    header {
        height: 30px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;

        h1 {
            font-weight: bold;
            color: white;
        }
    }

    main {
        min-height: 200px;
    }

}