<header>
  <h1 i18n="ATM Name|'Bravos ATM', 'Bank of America ATM', etc">Bravos ATM</h1>
  <button mat-flat-button color="primary" routerLink="/" *ngIf="showHomeLink">
    <mat-icon>keyboard_arrow_left</mat-icon> <ng-container i18n="Root Page link|'Home', 'Dashboard', etc">Home</ng-container>
  </button>

  <button mat-flat-button color="primary">
    <ng-container i18n="Quit ATM text|Text to describe the act of returning the user's card and exiting the app">
      Exit and Return Card
    </ng-container>
    <mat-icon>credit_card</mat-icon>
  </button>
</header>

<main>

  <router-outlet></router-outlet>
</main>
