<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>account_balance</mat-icon> Welcome to the Bank of Bravos ATM
  </mat-toolbar-row>

  <mat-toolbar-row id="nav">
    <button mat-raised-button color=accent routerLink="/" routerLinkActive="active">Overview</button>
    <button mat-raised-button color=accent routerLink="/withdraw" routerLinkActive="active">Withdraw Funds</button>
    <button mat-raised-button color=accent routerLink="/restock" routerLinkActive="active">Restock ATM</button>
  </mat-toolbar-row>
  <mat-toolbar-row id="cashOnHand">
    <h3>Cash on Hand: {{cashOnHand$ | async | currency}}</h3>
    <span>$100.00: {{(denomOnHand$ | async)?.hundreds}}</span>
    <span>$50.00: {{(denomOnHand$ | async)?.fifties}}</span>
    <span>$20.00: {{(denomOnHand$ | async)?.twenties}}</span>
    <span>$10.00: {{(denomOnHand$ | async)?.tens}}</span>
    <span>$5.00: {{(denomOnHand$ | async)?.fives}}</span>
    <span>$1.00: {{(denomOnHand$ | async)?.ones}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>


































<div class="todo">
  <h1>Question: What do we say to the god of death?</h1>
  <h2>Answer: Mobile Responsiveness Comes Later</h2>
</div>
