<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>account_balance</mat-icon> Welcome to the Bank of Bravos ATM
  </mat-toolbar-row>
  
  <mat-toolbar-row>
    <button mat-raised-button color=accent routerLink="/" routerLinkActive="active">Overview</button>
    <button mat-raised-button color=accent routerLink="/withdraw" routerLinkActive="active">Withdraw Funds</button>
    <button mat-raised-button color=accent routerLink="/restock" routerLinkActive="active">Restock ATM</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

